div.ui.list div.item {
    padding: .4em !important;
}

div.ui.list div.item.active {
    font-weight: bold;
}

div.ui.list div.item:hover {
    cursor: pointer;
    background-color: #eee;
}

i.star.icon:hover {
    text-shadow: 0 0 2px darkgrey;
    cursor: pointer;
}

.muted {
    color: grey !important;
}

table.re-frame-datatable > thead th.sorted-by:after {
    display: inline-block;
}

table.re-frame-datatable > thead th.sorted-by.desc:after {
    content: '\f0d7';
}

table.re-frame-datatable > thead th.asc:after {
    content: '\f0d8';
}

table.re-frame-datatable > thead th:after {
    display: none;
    font-family: Icons;
    margin-left: .5em;
}
