div.ui.list div.item {
    padding: .4em !important;
}

div.ui.list div.item.active {
    font-weight: bold;
}

div.ui.list div.item:hover {
    cursor: pointer;
    background-color: #eee;
}

i.star.icon:hover {
    text-shadow: 0 0 2px darkgrey;
    cursor: pointer;
}
